@media(min-width: 992px) {
	.navbar-expand-custom {
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.navbar-expand-custom .navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.navbar-expand-custom .navbar-toggler {
		display: none;
	}

	.navbar-expand-custom .navbar-collapse {
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
}

@media (max-width: 2560px) {
	.su_drop_width {
		width: 129vh;
	}

	/* .su_padding_navlogo {
		padding: 5px 100px 5px 100px;
	} */
}

@media (max-width: 1920px) {
	.su_drop_width {
		width: 129vh;
	}
}

@media (max-width: 1600px) {
	.su_drop_width {
		width: 348vh;
	}
}

@media (max-width: 1536px) {
	.su_drop_width {
		width: 152.8vh;
	}
}

@media (max-width: 1441px) {
	.su_drop_width {
		width: 146.7vh;
	}

	.navbar-mainbg {
		padding: 0px 50px 0px 50px;
	}

	.su_padding_navlogo {
		padding: 6px 50px 6px 50px;
	}

	.su_footer_style {
		padding: 0px 50px 0px 50px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1440px) {

	.su_drop_width2 {
		position: absolute;
		left: -55px !important;
	}

	#navbarSupportedContent ul li a {
		padding: 13px 11px;
	}

	#navbarSupportedContent .dropdown a {
		padding: 13px 14px 12px 20px;
	}
}

@media (max-width: 1367px) {
	.su_drop_width {
		width: 148.6vh;
	}

	.navbar-mainbg {
		padding: 0px 30px 0px 30px;
	}

	.su_padding_navlogo {
		padding: 5px 22px 5px 22px;
	}

	.su_footer_style {
		padding: 0px 50px 0px 50px;
	}

	.su_drop_width {
		width: 339vh;
	}
}

@media (max-width: 1280px) {
	.su_drop_width {
		width: 142.6vh;
	}

	.su_ques_img {
		width: auto;
		height: 450px;
	}

	.su_postion a {
		padding: 14px 20px 0px 20px;
	}

	/* #navbarSupportedContent ul li a {
		padding: 14px 14px 12px 20px;
	} */
	#navbarSupportedContent .dropdown a {
		padding: 13px 14px 0px 20px;
	}

	.si_left_styling {
		margin-left: auto;
	}
}

@media (max-width: 1200px) {
	/* .su_shift_ques p{
		height: auto !important;
		width: 580px !important;
    } */
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#navbarSupportedContent ul li a {
		padding: 3px 15px;
	}

	#navbarSupportedContent>ul>li.active>a {
		padding-top: 3px !important;
	}

	#navbarSupportedContent .dropdown a {
		padding: 3px 14px 0px 20px;
	}

}

@media (max-width: 1025px) {
	.su_drop_width {
		width: 103.7vh;
	}

	b {
		font-size: 14px;
	}

	.su_drop_width {
		width: 246.7vh;
	}
}

@media (max-width: 1024px) {
	.su_postion a {
		padding: 16px 20px 5px 20px;
	}

	/* #navbarSupportedContent ul li a {
		padding: 14px 11px 0px 14px;
	} */
	.si_center_style img {
		width: 100%;
	}
}


@media (max-width: 1023px) {
	.su_drop_width {
		width: 246.7vh;
	}

	/* #navbarSupportedContent ul li a{
		padding: 13px 18px 15px 11px;
	} */
}

@media (max-width: 992px) {
	.su_drop_width {
		width: 70.2vh;
	}

	.su_right {
		justify-content: space-between !important;
	}

	.su_drop_width2 {

		width: min-content;
		width: 100%;
	}

	/* #navbarSupportedContent ul li a {
		padding: 17px 11px 0px 18px;
	} */
	.su_postion a {
		padding: 16px 20px 0px 20px;
	}

	/* .navbar-nav .dropdown-menu{
		position: static;
	} */
	.fixed-header .fixed_search {
		display: none;
	}

	.si_center_style img {
		width: auto;
	}

	.si_width_announce {
		width: 220px;
	}
}

@media (max-width: 991px) {

	.navbar_padding1 {
		padding: 0px;
	}

	.su_ques_img {
		width: auto;
		height: auto;
	}

	.su_hide_icon {
		display: none !important;
	}

	/* #navbarSupportedContent>ul>li.active>a {
		padding-top: none;
	} */
	.nav-item.active {
		margin-top: none;
		background: white;
		height: 38px;
	}

	/* #navbarSupportedContent>ul>li.active>a {
		padding-top: 10px !important;
	} */
	.su_padding_icon {
		/* margin-bottom: 10px; */
		height: 50px;
	}

	.set_logo {
		position: relative;
	}

	#navbarSupportedContent .dropdown a {
		padding: 12px 16px 2px 10px;
	}
}

@media(max-width:990px) {
	.su_postion {
		margin-bottom: 10px;
	}

	.set_logo {
		width: 50px;
		height: 50px;
	}
}

@media screen and (min-width: 798px) and (max-width: 768px) {
	.su_footer_padding1 {
		padding: 0px 0px 20px 0px;
	}
}

@media (max-width: 768px) {
	.si_bg_content {
		width: 100%;
	}

	.su_drop_width {
		width: 192.2vh;
	}

	.navbar-mainbg {
		padding: 5px 20px 5px 20px;
	}

	.su_padding_navlogo {
		padding: 5px 25px 5px 25px;
	}

	.su_footer_style {
		padding: 6px 25px 6px 25px;
	}

	.su_footer_padding {
		padding: 5px 10px 2px 10px;
	}

	.navbar .dropdown button {
		font-size: 18px;
		font-weight: 600;
	}

	.su_search_width {
		margin-top: 7px;
	}

	/* .su_postion {
		padding-left: 12px;
	} */

	h5 {
		font-size: 17px;
		font-weight: 600;
	}

	li {
		font-size: 16px;
	}

	.su_shift_ques p {
		width: 100% !important;
		height: auto !important;
	}

	.si_ck_img img {
		width: 100%;
	}

	.su_drop_sol p img {
		width: 400px !important;
	}

	.si_heading {
		margin-top: 20px;
	}
}

@media(max-width:767px) {
	.set_logo {
		position: relative;
	}

	#main_navbar {
		padding: 0px 20px;
	}

	#navbarSupportedContent ul li a {
		padding: 15px 15px;
	}

	.si_typing_test p {
		margin: 12px 15px 12px 4px;
	}
}

@media (max-width: 600px) {
	.su_drop_width {
		width: 147.2vh;
	}

	.container_padding {
		width: auto;
	}

	.navbar_padding {
		width: auto;
	}

	.navbar_padding1 {
		width: auto;
	}

	.navbar_padding {
		padding: 0px 15px 0px 15px;
	}

	.su_height {
		padding: 18px;
	}
}

@media (max-width: 530px) {
	.su_drop_sol p img {
		width: 100% !important;
		object-fit: contain;

	}

	.su_form_padding p img {
		height: auto !important;
		width: 100% !important;
	}

	.wrong_right {
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.answers_value {
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.si_margin_style {
		margin-top: 7px;
		margin-bottom: 9px;
	}

}

/* @media screen and (min-device-width: 388px) and (max-device-width: 480px) { 
	.si_margin_style {
		 margin-top: 0px; 
		 margin-bottom: 0px; 
	}
} */
@media (max-width: 480px) {
	#navbarSupportedContent {
		overflow: visible;
	}

	.su_btn_drop_down {
		width: 100% !important;
	}

	.si_heading1 {
		text-align: center;
	}

	.su_drop_width {
		width: 115.2vh;
	}

	.su_pagination {
		margin-left: 1px;
	}

	.su_bg_img {
		height: 375px;
	}

	.su_search_width {
		width: 60%;
	}

	.si_button2 {
		padding: 5px;
	}

	.si_button {
		padding: 6px;
	}

	.su_shift_ques p {
		width: 100% !important;
		margin: 15px 0px;
		height: auto !important;
		object-fit: contain;
	}

	li {
		font-size: 15px;
	}

	p {
		font-size: 15px;
		line-height: 22px;
	}

	h6 {
		font-size: 14px;
	}

	button b {
		font-size: 15px;
	}

	button {
		font-size: 15px;
	}

	.su_postion {
		margin-bottom: 10px;
	}

	.si_border_content1 {
		margin-top: 7%;
		padding: 14px 10px 14px 10px;
	}

	.su_shift_ques {
		width: 100%;
	}

	.si_display {
		align-items: center;
	}

	.si_center_style {
		text-align: center;
		margin-bottom: 20px;
	}

	.si_floating {
		float: none;
		text-align: center;
	}

	.su_height {
		padding: 14px 0px;
	}

	.si_width_announce {
		width: 240px;
	}
}

@media(max-width: 428px) {
	.su_drop_width {
		width: 46.2vh;
	}

	.su_discuss {
		margin-right: 1px;
	}

	.navbar-mainbg {
		padding: 5px 10px 5px 10px;
	}

	.su_bg_img {
		height: 420px;
	}

	.su_shift_ques p {
		height: auto !important;
	}

}

@media (max-width: 426px) {
	.su_drop_width {
		width: 52.8vh;
	}

	.su_padding_navlogo {
		padding: 5px 10px 5px 10px;
	}
}

@media (max-width:393px) {
	.si_display {
		display: flex;
	}

	.su_make_border {
		padding: 45px 10px 0px 7px;
	}

	.si_width_announce {
		width: 100%;
	}
}

@media (max-width:389px) {
	.si_display {
		display: flex;
	}

	.si_margin_style {
		margin: 5px 3px !important;
	}
}

@media(max-width: 376px) {
	.su_drop_width {
		width: 40.4vh;
	}

	.su_bg_img {
		height: 459px;
	}

	.su_padding_navlogo {
		padding: 5px 10px 5px 10px;
	}

	.si_margin_style {
		margin: 5px 3px !important;
	}

	.margin_search {
		width: 200px;
	}

	.su_pagination li {
		font-size: 12px;
	}

	.su_drop_sol p img {
		width: 200px !important;
	}

}

@media(max-width: 320px) {
	.su_col_padding {
		padding: 15px 10px 15px 12px;
	}

	.su_shift_ques {
		padding: 5px 10px 5px 10px;
	}

	.su_drop_width {
		width: 34.2vh;
	}

	.si_position {
		left: 3%;
		position: relative;
	}

	.su_bg_img {
		height: 513px;
	}

	.su_padding_navlogo {
		padding: 5px 0px 5px 0px;
	}

	.su_icon_footer {
		padding: 1px;
		margin-right: 1px;
	}

	.su_shift_ques p {
		width: 100% !important;
		height: auto !important;
	}
}